@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

html[data-theme="dark"] {
  background-image: linear-gradient(135deg, #0f172a, #1e293b);
  background-size: cover;
  background-repeat: no-repeat;
}

html[data-theme="light"] {
  color: #181818 !important;
  background-image: linear-gradient(135deg, #f5f7fa, #e0e7ff);
  background-size: cover;
  background-repeat: no-repeat;
}

html[data-theme="dark"] .nav-text {
  color: #fff !important;
}

html[data-theme="dark"] .add-recipe-form {
  background-color: rgba(0, 0, 0, 0.3) !important;
  backdrop-filter: blur(50px) !important;
  border-color: #3b3a3a !important;
  box-shadow: rgba(255, 255, 255, 0.1) !important;
}

html[data-theme="light"] .add-recipe-form {
  background-color: #ecf5f6 !important;
  border: 1px solid #e5e7eb !important;
  box-shadow: rgba(255, 255, 255, 0.1) !important;
}

html[data-theme="light"] .title-h2 {
  color: #181818 !important;
}

html[data-theme="dark"] .title-h2 {
  color: #fff !important;
}

html[data-theme="dark"] .white-text {
  color: #fff !important;
}

html[data-theme="light"] .body-of-card {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: #181818 !important;
}

html[data-theme="light"] .auth-page-form {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(50px) !important;
}

html[data-theme="light"] .auth-page-or {
  color: #181818 !important;
}

html[data-theme="light"] .light-footer {
  color: #181818 !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
}

html[data-theme="light"] .newsletter {
  color: #181818 !important;
  background-color: #fff !important;
}

* {
  font-family: "Poppins", sans-serif;
}

.title {
  font-family: "Outfit", sans-serif;
}
